:root{
   --bg-color: #0f172a;
    --card-bg: #1e293b;
    --text-main: #f8fafc;
    --text-muted: #94a3b8;
    --accent: #38bdf8;
    --accent-hover: #0ea5e9;
    --border: #334155; 
}
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: var(--bg-color);
    color: var(--text-main);
    padding : 2rem 1rem;
    display:flex;
    justify-content: center;
   
}
.dashboard-container{
    width: 100%;
    max-width: 1000px;
}
header{
    text-align:center;
    margin-bottom: 2.5rem;
}
header h1{
    font-size: 2.5rem;
    color: var(--accent);
    margin-bottom: 0.5rem;
}
header p{
    color: var(--text-muted);
}
.search-section{
    margin-bottom: 3rem;
}
#search-form{
    display:flex;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}
#search-input{
    flex:1;
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    border: 2px solid var(--border);
    background-color: var(--card-bg);
    color: var(--text-main);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.5s;
}
#search-input:focus{
    border-color: var(--accent);
}
#search-button{
    padding: 0.8rem 1.2rem;
    border-radius: 8px;
    background-color: var(--accent);
    border:none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
}
#search-button:hover{
    background-color: var(--accent-hover);
}
.weather-grid{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    gap: 20px;
    margin-top:1.5rem;
}
.empty-state{
    grid-column: 1 / -1;
    text-align:center;
    color: var(--text-muted);
    font-style: italic;
    padding: 3rem;
}
.card{
    background-color:var(--card-bg);
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.5s;
}
.card:hover{
    transform: translateY(-4px);
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.3);

}
.card h3{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
    color: var(--text-main);
}
.card .temp{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--accent);
    margin-bottom: 0.8rem;
}
.card .wind{
    font-size: 0.9rem;
    color: var(--tetx-muted);
}
.spinner{
    width: 50px;
    height: 50px;
    border: 5px solid var(--border);
    border-top: 5px solid var(--accent);
    border-radius: 50%;
    margin: 2rem auto;
    animation: spin 1s linear infinte;
}
.hidden{
    display: none !important;
}
@keyframes spin{
    0%{transform : rotate(0deg);}
    100%{transform: rotate(360deg);}
}